
html{
    font-family: 'Roboto', sans-serif;
}
.cabecera{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    
}
/*  */
.cabecera .logo{
    width: 100px;
    margin-left: 20px;
}
.menu_icon{
    width: 30px;
    margin-right: 20px;
}

.navlist {
    color:white;
    display: none;
    
}
.navlist .navlist-member{
    display: inline-block;
    margin: 30px;
    font-size: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}
.chavaluca_section{
    /* height: 50vh; */
}

.chavaluca-block{
    /*background-image: url(../images/premium_dancer.png);*/
    height: 500px;
    /* background-position: 30px; */
    height: 50vh;
    background-color:  #529cf1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
   
}

.h1{
    font-size: 60px;
    font-weight: bolder;
    width: 90%;
   
   
}
.button{
    background-color: green;
    border: 0;
    padding: 15px 120px;
    border-radius: 20px;
    width: 90%;
    

}
.button a{
    text-decoration: none;
    color: white;
 
}
.h3{
    font-size: 20px;
    font-weight: bolder;
    width: 90%;
    
    
}
.chavaluca-block p{
    font-size: 15px;
    width: 90%;
    margin-bottom: 20px;
}

.h2{
    font-size: 50px;
    font-weight: bold;
    /* background-color: blueviolet; */
    text-align: center;
 

}
   /* 
.section-two{
    font-size: 20px;
}*/
/* .grandpa-section{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.section-two-father{
    /* background-color:yellow; */
    display: flex;
   /*  align-self: flex-end; */
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    
}
.super-article{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .section-two span{
   font-weight:bolder;
   font-size: 20px;
   text-align: center;
  
} */
.article{
    display: flex;
    align-items: center;
    justify-content: space-around;
   /*  background-color: red; */
    gap: 20px;
}
.icon{
    width: 100%;
}

.icon-conteiener{
    width: 60px;
}

/* .div-inlineblock{
    display: inline-block;
} */

.div-inlineblock{
    display: flex;
    flex-direction: column;
}
/* .icon-conteiener{
    display: flex;
} */
/* .p-conteiner{
    display: flex;
    flex-direction: column;
    align-items: ;
    
}
 */
.h5{
        font-weight: bold;
        font-size: 20px;
}

/* AÑADIR CLASE A P DENTRO DE ARTICLE Y BAJAR PESO TIPOGRAFÍA */

.footer { 
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: grey;
    padding: 15px;
    height: 85px;
} 
/* revisar gap? 
tamaño tipo?
del FOOTER
 */
.footer-left{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.li-blank{
    width: 100%;
}
.info {
    width:100%
}
.flag{
    width: 30px;
}
.footer-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap:10px;
    
}

/* font-family: 'Roboto', sans-serif; */